/*Cambios de tamaño de Pantallas DF*/ 

@media (max-width: 1100px){ /*Tablet*/
   .txt2{
      width: 400px;
   }
   .Privado{
      grid-template-rows: repeat(3, 3fr);
      grid-template-columns: repeat(2, 2fr);  
   }
   .barras{
      display: block;
   }
   .menu{
      display: none;
   }
   h1{
      font-size: 3rem;
      margin: 0px auto;
      justify-content: center;
   } 
   .perfil{
      grid-template-columns: repeat(2, 2fr);
      grid-template-areas: 
      "inf inf"
      "tit tit"
      "lic1 lic2"
   }
   div.foto{display: none;}
   div.lic3{display: none;}
}

@media (max-width: 770px){ /*Telefono*/
   .txt2{
      width: 375px;
   }
   .Privado{
      grid-template-rows: repeat(6, 3fr);
      grid-template-columns: repeat(1, 2fr);  
   }
   .barras{
      display: block;
   }
   .menu{
      display: none;
   }
   h1{
      font-size: 2.5rem;
      margin: 0px auto;
      justify-items: center;
   }
   .perfil{
      grid-template-columns: repeat(1, 2fr);
      grid-template-areas: 
      "inf"
      "tit"
      "lic1"
      "lic2"
   }
   div.foto{display: none;}
   div.lic1{margin: 0 0 2.5% 0;}
   div.lic2{margin: 2.5% 0 0 0;}
   div.lic3{display: none;}
}

@media (max-width: 500px){ /*Titulo en telefono menores a 430px*/
   h1{
      font-size: 2rem;
   }
      .txt2 {
      width: 325px;
   }
   .txt {
      width: 325px;
   }
   .Privado nav ul {
      flex-direction: column;   
      row-gap: 10px;            /* separación vertical */
      align-items: center;    
      li a{
         width: 175px; 
      }
   }
}