@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/* Logo y botones superiores*/
h1 { 
   font-size: 3rem;;
   color: #2C3E50;
   margin: 10px;
}
header{
   font-family: "Lexend", sans-serif;
   background-color: #9be6e7;
   padding: 10px 50px 10px 30px;
   border-radius: 10px;
   nav ul {
      display: flex;
      column-gap: 25px;
      list-style: none;
      li a{
         font-size: 20px;
         text-decoration: none;
         color: #2C3E50;
         border: 2px solid #9be6e7;
         padding: 8px 8px;
         background-color: #9be6e7;
         border-radius: 10px;  
         transition: background-color 0.25s, color 0.25s; /* animación suave */   
         &:hover{
            background-color: #b9feff;   /* fondo al pasar el mouse */
         }
      }
   }
   .no-bootstrap{
      align-content: center;
      font-family: "Lexend", sans-serif
   }
}

.navbar-toggler {
   border: none !important;
   &:focus {
      background-color: #b9feff;
   }
}
