@use "../util/variables";

body{ /*CORRECCION DE BOOTSTRAP (Lo destesto) */
   all: revert !important;
   background-color: variables.$color-fondo !important;
   font-family: "Lexend", sans-serif !important;
   color: variables.$color-texto !important;
}
.titulos h2{
   font-size: 100px;
}