@use "../util/variables";

body{ /*CORRECCION DE BOOTSTRAP (Lo destesto) */
   margin: 0;
   background-color: variables.$color-fondo !important;
   font-family: "Lexend", sans-serif !important;
   color: variables.$color-text !important;
}
.titulos h2{
   font-size: 100px;
}