/*Body*/
body{ /*CORRECCION DE BOOTSTRAP (Lo destesto) */
   all: revert !important;
   background-color: #e9f2f8 !important;
   font-family: "Lexend", sans-serif !important;
   color: #2C3E50 !important;
}
.titulos h2{
   font-size: 100px;
}