@use "../util/variables";

/*Footer de todas las paginas*/
footer nav {
   display: flex;
   justify-content: center;
      ul{
      display: flex;
      column-gap: 20px;
      list-style: none;
         li a{
         text-decoration: none;
         color: variables.$color-texto;
         border: 2px solid variables.$color-fondo; 
         padding: 4px 8px; 
         background-color: variables.$color-fondo; 
         border-radius: 3px;  
         transition: background-color 0.3s, color 0.3s;     /* animación suave */
         transition: border-color 0.3s, color 0.3s;         /* animación suave */
            &:hover{
            color: white;
            border: 2px solid variables.$color-texto; 
            padding: 4px 8px; 
            background-color: variables.$color-texto;  
            border-radius: 4px;  
         }
      }
   }
}

