@use "../util/variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/* Logo y botones superiores*/
h1 { 
    font-size: 3rem;
    color: #2C3E50;
    margin: 10px;
}
header{
    font-family: "Lexend", sans-serif;
    background-color: v.$color-prim;
    padding: 10px 50px 10px 30px;
    border-radius: 10px;
    margin: 10px;
    &.no-bootstrap{
        align-content: center;
        font-family: "Lexend", sans-serif
    }
    nav{
        ul{
            display: flex;
            column-gap: 25px;
            list-style: none;
            li a{
                text-decoration: none;
                color: #2C3E50;
                border: 2px solid v.$color-prim;
                padding: 8px 8px;
                background-color: v.$color-prim;
                border-radius: 10px;  
                transition: background-color 0.25s, color 0.25s; /* animación suave */   
                &:hover{
                    background-color: v.$c-hobheader;   /* fondo al pasar el mouse */
                }
                
            }
        }
    }
}

.navbar-toggler{
    border: none !important;
    &:focus {
    background-color: v.$c-hobheader;
    }
}
