@use "../util/variables";

%bordes-comunes{
   border: 2px solid variables.$color-prim;
   background-color: variables.$color-fondoint;
   border-radius: 12px;
   box-shadow: 5px 5px 10px variables.$color-sombras;
}
%lic-box{
   margin: 5%;
   padding: 10px;
   border: 2px solid variables.$color-prim;
   background-color: variables.$color-fondoint;
   border-radius: 10px;
   text-align: center;
   box-shadow: 5px 5px 10px variables.$color-sombras;
}