//* Variables personales

$color-prim:#9be6e7;                //Header y Bordes
$color-texto:#2C3E50;               //Textos y Bordes
$color-fondo:#e9f2f8;               //Fondo de la pagina
$color-fondoint:white;              //Fondos internos
$color-sombras:grey;                //Sombras
$color-hoberppa:#e4f7ff;            //Hobers
$c-hobheader: #b9feff;              //Hober Header
$color-correcto:#4CAF50;            //Eleccion de correcto 
$color-incorrecto:#af4c4c;          //Eleccion de Incorrectos
$color-duda:#FFB800;                //Dudas

//* Variables de Login

$color-muted: #b4b4b4;
$color-border: #a9a9a9;
$color-text: #1d2222;
$color-bg-main: #ccc6fe;