$color-prim:#9be6e7;                //Header y Bordes
$color-texto:#2C3E50;               //Textos
$color-fondo:#e9f2f8;               //Fondo de la pagina
$color-fondoint:white;              //Fondos internos
$color-sombras:grey;                //Sombras
$color-hoberppa:#e4f7ff;            //Hobers
$color-correcto:#4CAF50;            //Eleccion de correcto 
$color-incorrecto:#af4c4c;          //Eleccion de Incorrectos
$color-duda:#FFB800;                //Dudas

