/*index*/
.txt{
   margin: 2rem 0;
   justify-self: center;
   font-size: 1.15em;
}
.txt2{
   margin: 1rem 0;
   border: 2px #2C3E50;
   border-radius: 12px;
   box-shadow: 5px 5px 10px grey;
   width: 425px
}