@use "../util/variables" as v;

/*index*/
.txt{
   margin: 2rem 0;
   justify-self: center;
   font-size: 1.15em;
}
.txt2{
   width: 425px;
   margin: 1rem 0;
   border-radius: 12px;
   box-shadow: 5px 5px 10px v.$color-sombras;
}