@use "../util/variables";

/*index*/
.txt{
   margin: 2rem 0;
   justify-self: center;
   font-size: 1.15em;
}
.txt2{
   margin: 1rem 0;
   border-radius: 12px;
   box-shadow: 5px 5px 10px variables.$color-sombras;
   width: 425px
}