@use "../util/variables";

.Privado{
   display: grid;
   grid-template-rows: repeat(2, 3fr);
   grid-template-columns: repeat(3, 2fr);
   div{
      border: 3px solid variables.$color-prim;  //Borde del Card
      border-radius: 12px;
      margin: .5em;                             //Espacio entre Cards
      padding: 10px 5px 10px 5px;               //Espacio entre el texto y el borde
      display: flex;
      flex-direction: column;
      justify-content: space-between;           //Separación de los botones inferiores
      box-shadow: 5px 5px 10px variables.$color-sombras;  //Sombreado
      background-color: variables.$color-fondoint;  //Fondo de la tarjeta
   }
   h2{                                          //Titulos de Cards
      font-size: 20px;
      text-decoration: underline;
      padding: 10px 5% 0 5% ;
      text-align: center;
   }
   p{                                           //Texto detalle
      padding: 10px 5% 10px 5%;
      font-size: small;
      font-size: small;
   }
   nav ul{                                   /*Forma y color de botones*/
      font-size: 15px;
      display: flex;
      list-style: none;
      column-gap: 10px;
      justify-content: center;
      padding-inline-start: 0;
      li a{                                  /*Forma y color de botones*/
         text-decoration: none;
         color: variables.$color-fondoint; /*Letras*/
         border: 2px solid variables.$color-texto; 
         padding: 8px 8px; 
         background-color: variables.$color-texto; 
         border-radius: 6px; 
         display: inline-flex;        
         justify-content: center;     
         align-items: center;
         width: 125px;                       /*mismo ancho*/
         text-align: center;                 /*Centrado en boton*/
         transition: background-color 0.3s, color 0.3s; /* animación suave */
         &:hover {                           /*Cambio fondo al pasar el mouse*/
            background-color: variables.$color-fondoint;  
            color: variables.$color-texto;
         }
      }
   }
}
