@use "../util/variables" as v;
@use "../util/mixin" as m;

.Privado{
   display: grid;
   grid-template-rows: repeat(2, 3fr);
   grid-template-columns: repeat(3, 2fr);
   div{
      border: 3px solid v.$color-prim;  //Borde del Card
      border-radius: 12px;
      margin: .5em;                             //Espacio entre Cards
      padding: 10px 5px 10px 5px;               //Espacio entre el texto y el borde
      display: flex;
      flex-direction: column;
      justify-content: space-between;           //Separación de los botones inferiores
      box-shadow: 5px 5px 10px v.$color-sombras;  //Sombreado
      background-color: v.$color-fondoint;  //Fondo de la tarjeta
   }
   h2{                                          //Titulos de Cards
      font-size: 20px;
      text-decoration: underline;
      padding: 10px 5% 0 5% ;
      text-align: center;
   }
   p{                                           //Texto detalle
      padding: 10px 5% 10px 5%;
      font-size: small;
   }
   nav ul{                                   /*Forma y color de botones*/
      font-size: 15px;
      display: flex;
      list-style: none;
      column-gap: 10px;
      justify-content: center;
      padding-inline-start: 0;
      li a{                                  /*Forma y color de botones*/
         text-decoration: none;
         padding: 8px 8px; 
         display: inline-flex;        
         justify-content: center;     
         align-items: center;
         @include m.botones(130px, 6px);
      }
   }
}

