.Privado{
   display: grid;
   grid-template-rows: repeat(2, 3fr);
   grid-template-columns: repeat(3, 2fr);
   div{
      border: 3px solid #9be6e7;
      border-radius: 15px;
      margin: .5em;
      padding: 10px 5px 10px 5px;
      /*Separación de los botones inferiores*/
      display: flex;
      flex-direction: column;
      justify-content: space-between; 
      box-shadow: 5px 5px 10px grey;
      background-color: white; /*Fondo de la tarjeta*/
   }
   h2{
      font-size: 20px;
      text-decoration: underline;
      padding: 10px 5% 0 5% ;
      text-align: center;
   }
   p{ /*Texto Detalle*/
      padding: 10px 5% 10px 5%;
      font-size: small;
      ul li{ /*Botones de licencias*/
         font-size: small;
      }
   }
   nav ul{ /*Forma y color de botones*/
      font-size: 15px;
      display: flex;
      list-style: none;
      column-gap: 10px;
      justify-content: center;
      padding-inline-start: 0;
      li a{ /*Forma y color de botones*/
         text-decoration: none;
         color: white; /*Letras*/
         border: 2px solid #2C3E50; 
         padding: 8px 8px; 
         background-color: #2C3E50; 
         border-radius: 6px; 
         display: inline-flex;        
         justify-content: center;     
         align-items: center;
         width: 125px;                /*mismo ancho*/
         text-align: center;          /*Centrado en boton*/
         transition: background-color 0.3s, color 0.3s; /* animación suave */
         &:hover { /*Cambio fondo al pasar el mouse*/
            background-color: white;  
            color: #2C3E50;
         }
      }
   }
}
