@use "../util/variables" as v;

// 2. Estilos Globales
* {
  box-sizing: border-box;
}

.init {
  min-height: calc(100vh - 150px);
  margin: 0;
  display: grid;
  place-items: center;

  h2, h3 {
    margin: 0;
  }
}

// 3. Componente Card
.card {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  background: #ffffff;
  border-radius: 16px;
  padding: 6px;
  width: 90vw;
  max-width: 800px;
  box-shadow: 0px 20px 54px rgba(126, 48, 255, 0.12);

  // Imagen principal de la derecha
  img {
    width: 50%;
    border-radius: 14px;
    align-self: stretch;
    object-fit: cover;
    transition: 0.3s;
    &.der{
      margin: 10px;
      border-radius: 7px;
    }
  }

  // Contenedor de texto y formulario
  .content {
    padding: 32px;
    width: 50%;
    transition: width 0.3s;

    img {
      height: 40px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 32px;
      margin: 10px 0; 
    }

    h3 {
      font-weight: 400;
      font-size: 16px;
      color: v.$color-muted;
      margin: 15px 0;
    }

    form {
      padding: 0;

      input[type="email"],
      input[type="password"] {
        width: 100%;
        margin: 15px 0;
        color: inherit;
        border: 1px solid v.$color-border;
        background: transparent;

        &::placeholder {
          color: v.$color-muted;
        }
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;

        a {
          color: v.$color-muted;
          font-size: 14px;
          white-space: nowrap;
        }
      }

      button {
        color: v.$color-texto;
        background: v.$color-prim;
        border: 0;
        padding: 0 48px;
        cursor: pointer;
      }
    }

    p {
      font-size: 14px;
      margin-top: 30px;
      color: v.$color-muted;

      a {
        color: v.$color-prim;
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
  }
  input, button {
    font-size: 16px;
    font-family: inherit;
    display: block;
    padding: 0 16px;
    border-radius: 6px;
    height: 48px;
    outline-color: v.$color-prim;
  }
}

// 4. Custom Checkbox
.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  white-space: nowrap;
  color: v.$color-muted;
  cursor: pointer;

  input {
    position: absolute;
    scale: 0;

    &:checked ~ .check {
      border-color: v.$color-prim;
      background: v.$color-prim;
    }
  }

  .check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: transparent;
    border: 1px solid v.$color-border;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      rotate: 45deg;
      border-bottom: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      // Centrado simple para el check
      width: 5px;
      height: 10px;
      left: 6px;
      top: 2px;
    }
  }

  &:has(input:checked) {
    color: #7e7e7e;
  }
}

