@use "../util/variables" as v;
@use "../util/mixin" as m;

// 2. Estilos Globales
* {
  box-sizing: border-box;
}

.init {
  min-height: 80vh;
  margin: 0;
  display: grid;
  place-items: center;

  h2, h3 {
    margin: 0;
    text-align: center;
  }
}

.card {
  display: flex;
  flex-direction: row;
  background: white; //Fondo
  border-radius: 16px;
  padding: 6px;
  width: 90vw; //Espacio en pantalla
  max-width: 800px; //Tamaño de caja
  box-shadow: 0px 20px 54px rgba(126, 48, 255, 0.12); //sombreado de caja

  // Imagen principal de la derecha
  img{
    &.der{ 
      align-self: stretch; //Ocupa el tamaño completo de la caja de forma vertical
      object-fit: cover; //Cortado de foto para que entre esteticamente
      width: 50%; //Ocupando mitad de caja
      margin: 10px;
      border-radius: 7px;
    }
  }

  // Contenedor de texto y formulario
  .content {
    padding: 32px;
    width: 50%;
    transition: width 0.3s;

    img {
      align-self: stretch; //Ocupa el tamaño completo de la caja de forma vertical
      object-fit: cover; //Cortado de foto para que entre esteticamente
      height: 50px;
      width: 175px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 32px;
      margin: 10px 0; 
    }

    h3 {
      font-weight: 400;
      font-size: 16px;
      color: v.$color-muted;
      margin: 15px 0;
    }

    form {
      padding: 0;

      input[type="email"],
      input[type="password"] {
        width: 100%;
        margin: 15px 0;
        color: inherit;
        border: 1px solid v.$color-border;
        background: transparent;

        &::placeholder {
          color: v.$color-muted;
        }
      }

      .row { //Recueda y Olvidaste
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin: 20px 0 40px;

        a {
          color: v.$color-muted;
          font-size: 14px;
          white-space: nowrap;
          margin-top: 7px;
          cursor: pointer;
          &:hover { text-decoration: underline; }
        }
      }

      .butt {
        text-decoration: none;
        display: flex;             //Centrar el texto
        align-items: center;       // Centra verticalmente
        justify-content: center;    // Centra horizontalmente
        height: 48px;              
        padding: 0 48px;
        font-size: 16px;
        font-weight: 500;          // Opcional, para que resalte más
        @include m.botones(100%, 6px) //Boton oscuro estandar
      }
    }

    p { // No tenes cuenta? 
      font-size: 14px;
      margin-top: 30px;
      color: v.$color-muted;
      text-align: center;

      a { // Crear cuenta
        color: v.$color-prim;
        text-decoration: none;
        cursor: pointer;
        &:hover { text-decoration: underline; }
      }
    }
  }
  input, button {
    font-size: 16px;
    font-family: inherit;
    display: block;
    padding: 0 16px;
    border-radius: 6px;
    height: 48px;
    outline-color: v.$color-prim;
  }
}

// 4. Custom Checkbox
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  white-space: nowrap;
  color: v.$color-muted;
  cursor: pointer;

  input {
    position: absolute;
    scale: 0;

    &:checked ~ .check {
      border-color: v.$color-text;
      background: v.$color-text;
    }
  }

  .check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: transparent;
    border: 1px solid v.$color-border;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      rotate: 45deg;
      border-bottom: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      // Centrado simple para el check
      width: 5px;
      height: 10px;
      left: 6px;
      top: 2px;
    }
  }

  &:has(input:checked) {
    color: #7e7e7e;
  }
}

