@use "../util/variables";

.mi1 {
   h2{
      text-align: left; 
      margin-bottom: 1.5rem;
   }
   p{
      margin: 16px 0;
      text-align: justify;
   }
   h3{
      padding: 0px 5% ;
      text-align: right;
   }
   img{
      border-radius: 12px;
      box-shadow: 5px 5px 10px variables.$color-sombras;
   }
}