.perfil{
   display: grid;
   justify-content: center;
   grid-template-rows: 3fr 1fr 3fr;
   grid-template-columns: repeat(3, 1fr);
   grid-template-areas: 
   "inf inf foto"
   "tit tit tit"
   "lic1 lic2 lic3"
   ;
}
.perfil h4{
   justify-self: center;
   font-size: 20px;
   margin: 5px;
}
div.foto{
   grid-area: foto;
   margin: 10px;
   padding: 15px;
   justify-self: center;
   align-content: center;
   border: 3px solid #b6e3e3;
   background-color: white;
   border-radius: 10px;
   box-shadow: 5px 5px 10px grey;
}
div.info{
   grid-area: inf;
   margin: 10px;
   padding: 20px;
   padding-left: 40px;
   border: 4px solid #b6e3e3;
   background-color: white;
   border-radius: 10px;
   box-shadow: 5px 5px 10px grey;

}
div.info p{
   margin: 0 15px 0 15px;
}
div.titulo{
   grid-area: tit;
   justify-self: center;
   align-self: center;
   padding-top: 19px;
}
div.lic1{
   grid-area: lic1;
   margin: 5%;
   padding: 10px;
   border: 4px solid #b6e3e3;
   background-color: white;
   border-radius: 10px;
   text-align: center;
   box-shadow: 5px 5px 10px grey;
}
div.lic2{
   grid-area: lic2;
   margin: 5%;
   padding: 10px;
   border: 4px solid #b6e3e3;
   background-color: white;
   border-radius: 10px;
   text-align: center;
   box-shadow: 5px 5px 10px grey;
}
div.lic3{
   grid-area: lic3;
   margin: 5%;
   padding: 10px;
   border: 4px solid #b6e3e3;
   background-color: white;
   border-radius: 10px;
   text-align: center;
   box-shadow: 5px 5px 10px grey;
}
.progress-stacked {
   margin: 25px 0 25px 0;
}
/*Colores para barras de progreso*/
.colorv{ background-color: #4CAF50 !important;}
.colorf{ background-color: #C13246 !important;}
.colorp{ background-color: #FFB800 !important;}
