@use "../util/variables";

/* Tarjeta principal */
.carta-pregunta {
   background: variables.$color-fondoint;
   border-radius: 18px;
   border: 2px solid variables.$color-prim;
}

/* Texto pregunta */
.pregunta-texto {
   font-size: 1.2rem;
}

/* Opciones estilo quiz */
.preguntas-opciones {
   display: flex;
   align-items: center;
   border: 2px solid variables.$color-prim;
   padding: 12px 16px;
   border-radius: 12px;
   margin-bottom: 12px;
   cursor: pointer; /*Mouse como manito*/
   transition: 0.25s ease;
   background: variables.$color-fondoint; /*Fondo interno*/
   input[type="radio"] { /* Ocultar radio */
      display: none;
   }
   &:hover { /* Estilo al pasar el mouse */
      background: variables.$color-hoberppa;
      border-color: variables.$color-prim;
      transform: translateY(-2px);
   }
   input[type="radio"]:checked + span {  /* Opción seleccionada correcta */
      font-weight: bold;
      color: variables.$color-correcto;
      &::before {
      content: "✔ ";
      color: variables.$color-correcto;
      }
   }
   &-f input[type="radio"]:checked + span { /* Opción seleccionada Incorrecta */
      font-weight: bold;
      color: variables.$color-incorrecto;
      &:before {
         content: "x ";
         color: variables.$color-incorrecto;
         font-size: 1.15em;
      }
   }
}