@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');


/* Logo y botones superiores*/
header{
    font-family: "Lexend", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9be6e7;
    padding: 10px 50px 10px 30px;
    border-radius: 10px
}
h1 { 
    font-size: 40px;
    color: #2C3E50;
    margin: 10px;
}
header nav {
    display: flex;
}
header nav ul {
    display: flex;
    column-gap: 25px;
    list-style: none;
    
}
header nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #2C3E50;
    border: 2px solid #9be6e7;
    padding: 8px 8px;
    background-color: #9be6e7;
    border-radius: 10px;  
    transition: background-color 0.25s, color 0.25s; /* animación suave */   
}
header nav ul li a:hover{
    background-color: #b9feff;   /* fondo al pasar el mouse */
}
.barras{ /*Menu Hamburguesa*/
    color: #2C3E50;
    font-size: 30px;
    display: none;
}

/*Body*/
body{
    background-color: #e9f2f8;
    font-family: "Lexend", sans-serif;
    margin-left: 2.5%;
    margin-right: 2.5%;
    color: #2C3E50;
}

.titulos h2{
    font-size: 100px;
}


/*Footer de todas las paginas*/
footer nav {
    display: flex;
    justify-content: center;
}
footer nav ul{
    display: flex;
    column-gap: 20px;
    list-style: none;
}
footer nav ul li a{
    text-decoration: none;
    color: #2C3E50;
    border: 2px solid #e9f2f8; 
    padding: 4px 8px; 
    background-color: #e9f2f8; 
    border-radius: 3px;  
    transition: background-color 0.3s, color 0.3s; /* animación suave */
    transition: border-color 0.3s, color 0.3s;
}
footer nav ul li a:hover{
    color: white;
    border: 2px solid #2C3E50; 
    padding: 4px 8px; 
    background-color: #2C3E50;  
    border-radius: 4px;  
}

/*index*/
.inicio{
    padding: 50px;
    border: 2px solid green;
    margin: 20px;
}
.avion1{
    padding: 20px;
    border: 1px solid red;
    justify-content: center;
}


/*Licencias*/
.Privado{
    display: grid;
    grid-template-rows: repeat(2, 3fr);
    grid-template-columns: repeat(3, 2fr);
    padding: 5px 5px;
}
section.Privado div{
    border: 3px solid #9be6e7;
    border-radius: 15px;
    margin: 10px;
    padding: 5px 5px 10px 5px;
}
.Privado h2{
    font-size: 20px;
    text-decoration: underline;
    padding: 0px 5% ;
    text-align: center;
}
.Privado p{ /*Texto Detalle*/
    padding: 0 5% 0 5%;
    font-size: small;
}
    /*Botones de licencias*/
.Privado p ul li{ 
    font-size: small;
}
.Privado nav ul{ /*Forma y color de botones*/
    font-size: 15px;
    display: flex;
    list-style: none;
    column-gap: 10px;
    justify-content: center;
    padding-inline-start: 0;
}
.Privado nav ul li a{ /*Forma y color de botones*/
    text-decoration: none;
    color: white; /*Letras*/
    border: 2px solid #2C3E50; 
    padding: 8px 16px; 
    background-color: #2C3E50; 
    border-radius: 6px;  
    transition: background-color 0.3s, color 0.3s; /* animación suave */
}
.Privado nav ul li a:hover { /*Cambio fondo al pasar el mouse*/
    background-color: white;  
    color: #2C3E50;
}
.Privado div{ /*Separación de los botones inferiores*/
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 20px;
    border: 2px solid #b6e3e3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    background-color: white; /*Fondo de la tarjeta*/
}


/*Nuestra Mision*/
.mi1 h2{
    text-align: left;    
}
.mi1 p{
    padding: 0px 20px;
    margin: 0;    
}
.mi1 h3{
    padding: 0px 5% ;
    text-align: right;
}


/*Perfil */
.perfil{
    display: grid;
    justify-content: center;
    grid-template-rows: 250px 50px 150px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 2.5% 0 2.5%;
    grid-template-areas: 
    "inf inf foto"
    "tit tit tit"
    "lic1 lic2 lic3"
    ;
}
.perfil h4{
    justify-self: center;
    font-size: 20px;
    margin: 5px;
}
div.foto{
    grid-area: foto;
    margin: 10px;
    padding: 15px;
    justify-self: center;
    align-content: center;
    border: 3px solid #b6e3e3;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}
div.info{
    grid-area: inf;
    margin: 10px;
    padding-left: 20px;
    border: 3px solid #b6e3e3;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;

}
div.info p{
    margin: 0 15px 0 15px;
}
div.titulo{
    grid-area: tit;
    justify-self: center;
    align-self: Center;
    margin-top: 7px;
}
div.lic1{
    grid-area: lic1;
    margin: 0 10px 0 10px;
    padding: 10px;
    border: 3px solid #b6e3e3;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px grey;
}
div.lic2{
    grid-area: lic2;
    margin: 0 10px 0 10px;
    padding: 10px;
    border: 3px solid #b6e3e3;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px grey;
}
div.lic3{
    grid-area: lic3;
    margin: 0 10px 0 10px;
    padding: 10px;
    border: 3px solid #b6e3e3;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px grey;
}

/*PPA*/



/*Cambios de tamaño de Pantallas DF*/ 

@media (max-width: 1040px){ /*Tablet*/
    .Privado{
        grid-template-rows: repeat(2, 3fr);
        grid-template-columns: repeat(2, 2fr);  
    }
    .barras{
        display: block;
    }
    .menu{
        display: none;
    }
    h1{
        margin: 0 auto;
    }    
}

@media (max-width: 640px){ /*Telefono*/
    .Privado{
        grid-template-rows: repeat(4, 3fr);
        grid-template-columns: repeat(1, 2fr);  
    }
    .barras{
        display: block;
    }
    .menu{
        display: none;
    }
    h1{
        margin: 0 auto;
    }

}

@media (max-width: 430px){ /*Titulo en telefono menores a 430px*/
    h1{
        font-size: 30px;
        margin: 0 auto;
    }
}